/*
 *  CSS Validation http://jigsaw.w3.org/css-validator/validator
 */

H1 {
    text-align:left;
    color:black;
    font: normal 40pt "Arial Black"
}

body {
    overflow: hidden;
}

#editor {
    width: 600px;
    height: 500px;
    border: 2px solid #000;
}
