/*
 *  CSS Validation http://jigsaw.w3.org/css-validator/validator
 */

H1 {
    text-align:center;
    color:black;
    font: normal 40pt "Arial Black"
}

H2 {
    margin-left:40em;
    color:black;
    font: normal 12pt "Arial Black";
}

body {
    overflow: hidden;
}

#editor {
    width: 600px;
    height: 500px;
    border: 2px solid #000;
}

ul {
    margin-left:40em;
    list-style-type: none;
    list-style-position: inside;
}

li {
    margin: 2pt 0pt;
    font: normal 12pt "Arial";
}